@import "./variables";
.Heading--secondary {
  font-family: "Poppins", sans-serif, "Libre Baskerville";
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-black;
  cursor: pointer;

  transition: $transtion-1;
}

.Heading--secondary:hover {
  color: $color-red;
}
.Heading--tertiary {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 575px) {
    font-size: 3.5rem;
  }
}
