$color-black: #1b1b1b;
$color-black-2: #222222;
$color-black-2: #303030;
$color-white: #ffffff;

// $color-red: #ec3b95;
$color-red: red;
$color-grey-2: #f5f5f5;
$color-grey: #6f6f6f;
$transtion-1: all 0.3s ease-in-out;
$transtion-2: all 1s ease-in-out;
$box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 0 1.2rem rgba(0, 0, 0, 0.12);
$box-shadow-3: 0 0 1.2rem rgba(0, 0, 0, 0.2);
$max-lg: 1199px;
$max-md: 991px;
$max-sm: 767px;
$max-xs: 575px;
